
:root {
  --mainBlue: #21A1B2;
  --mainWhite: #ffffff;
  --mainGrey: #f3f3f3;
}

html {
  overflow-x: hidden;
}

body {
  background: var(--mainGrey) !important;
  overflow-x: hidden;

}


nav {
  background: var(--mainBlue) !important;
  width: 100%;
}

.brand {
  color: var(--mainWhite) !important;
  font-size: 1.2em;
  list-style: none;
  text-shadow: 1px 1px black;

}

.brand:hover {
  text-decoration: none;
}

.nav-link {
  color: var(--mainWhite) !important;
  text-shadow: 1px 1px black;
}

.title-text, .list-pass, nav, button {
  font-family: 'Baloo Chettan', cursive!important;
}


.title-text {
  font-size: 4rem;

}

.list-pass {
  font-family: 'Baloo Chettan', cursive;
  font-size: 1.5rem;
}

.top {
  margin-top: 15rem;
}

button {
  background: var(--mainBlue) !important;
  color: var(--mainWhite) !important;
  font-size: 1.2rem !important;
  box-shadow: 1px 1px 2px black;
}

i {
  cursor: pointer;
}

.fa-edit {
  color: purple;
}

.fa-trash-alt {
  color: black;
}

.fa-external-link-alt {
  color: blue;
}

.fa-spinner {
  margin-top: 12rem;
  color: var(--mainBlue);
  display: flex;
  justify-content: center;
}

.card-detail {
  height: 220px;
  border-left: 20px solid var(--mainBlue) !important;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.35);
}

.add-form {
  display: flex !important;
}

.form {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.35);
  height: 270px;
}

.field-error {
  color: red;
  font-style: italic;
  font-size: 12px;
  text-align: right !important;
}

@media only screen and (max-width: 425px) {
  .title-text {
    font-size: 3rem;
  }

  .list-pass {
    font-size: 1.2rem;
  }

  table {
    font-size: 0.9rem;
  }
}
